html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

body {
    /* max-width: 1440px; */
    margin: 0;
    font-family: OpenSans, sans-serif;
    font-weight: 400;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

/* Promo */
.promo {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(134, 119, 147);
    background-image: url(../img/bg-promo.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.container-promo {
    padding-top: 41px;
    padding-bottom: 71px;
}

h1 {
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 5.5px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

div.promo-logo {
    max-width: 102px;
    margin: 0 auto;
    margin-bottom: 313px;
}

p.promo-text {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.9px;
    text-align: center;
    margin-bottom: 228px;
}

p.scroll {
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

/* Navbar */
.navbar {
    padding-top: 24px;
    padding-bottom: 23px;
    border-bottom: 1px solid #E6E6E6;
}

/* .navbar-logo img {
    width: 80px;
    height: 18px;
} */

.container-navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    width: 410px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-list-item a {
    display: block;
    color: #48555B;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1.09px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-list-item a.active {
    color: #00A4E5;
    font-weight: 600;
}



@media screen and (max-width: 1290px) {
    .navbar {
        padding-right: 25px;
        padding-left: 25px;
    }
}

@media screen and (max-width: 768px) {
    .promo {
        padding-right: 25px;
        padding-left: 25px;
    }

    h1 {
        font-size: 45px;
    }

    .container-navbar {
        justify-content: flex-start;
    }

    .navbar-logo {
        margin-right: 100px;
    }

    .navbar-list {
        margin-left: auto;
        justify-content: flex-start;
        gap: 30px;
    }
}